.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 125, 138);
    color: #f3f3f3;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 0 10px 0 rgba(15, 10, 15, 39);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #949494;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
ul>li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    border: 1px solid #787c7a4f;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #e7eee9c4;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #fcfffd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
h1{
    color:blue;
}