:host{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 8px;
}
.calculadora-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: 100%;
    width: 100%;
}

.form-box{
    background-color: aquamarine;
    border-radius: 8px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    width: 400px;
    text-align: center;
}
h2{
    margin-bottom: 10px;
    color: darkcyan;
}

label{
    display: block;
    margin: 10px 5px;
    color: darkcyan;
}
input[type="number"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
button{
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: darkcyan;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: rgb(72, 114, 114);
    }
}
.result-dysplay{
    margin-top: 15px;
  font-size: 16px;
    padding: 10px;
    width: auto;
}
#resultado{
    font-size: 24px;
    font-weight: 600;
    color: darkcyan;
}
p{
    font-size: 19px;
    font-weight: 600;
    color: rgb(58, 55, 55);
}
