<div class="calculadora-container">
    <div class="form-box">
        <form #frm="ngForm">
            <h2>Calculadora</h2>
            <label for="numero1">Numero 1</label>
            <input [(ngModel)]="numero1" type="number" name="numero1" id="numero1">

            <label for="numero2">Numero 2</label>
            <input [(ngModel)]="numero2" type="number" name="numero2" id="numero2">


            <button type="button" id="calcular" (click)="calcularResultado()">Calcular</button>
         
        </form>
        <div class="result-dysplay">
           
            <p>Resultado: <span id="resultado">{{resultado.toFixed(2) ? resultado.toFixed(2) : 'Valor'}}</span></p>
        </div>
    </div>
</div>
