    *::after{
        // margin: 10px;
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        // display: flex ;
        // justify-content: center;
        // align-items: center;
        // box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
        // border: 1px solid #000;
        // border-radius: 8px;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box;
    }



.lista-container {
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px 6px rgba(110, 110, 110, 0.89);
    text-align: center;
    justify-content: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
h1{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.add-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
button[type="submit"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #828c97;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: #666e77;
    }
}
button[type="reset"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c97a14;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f1852cde;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: #ff7e05;
    }
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
   transform: scale(1.2);
   
   cursor: pointer;
   &:checked{
    background-color: #828c97;
    color: #fff;
    tr:nth-child(even) > td{
        background-color: #c59b9b;
    }
    tr:nth-child(odd) > td{
        background-color: #fff;
    }
   }
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
th{
    background-color: #f0f0f0;
    font-weight: 600;
    color: #333;
}
td{
    background-color: #fff;
}
.completed {
    text-decoration: line-through;
    color: #888;
}

.error-message{

    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
}
.empty-message{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #7a7c8f;
}   
