<<<<<<< HEAD
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
=======
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
>>>>>>> 6a4804d (teste)
}